<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><h1>Blogs</h1></th>
      </tr>
    </thead>

    <tbody>
      <% @blogs.each do |blog| %>
        <tr>
          <td><%= link_to blog.name, blog_posts_path(blog) %></td>
          <td>By: <%= blog.user.name %></td>
          <% if blog.user == current_user %>
            <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
            <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<% if current_user && current_user.blog.nil? %>
  <%= link_to 'New Blog', new_blog_path, class: "btn btn-default" %>
<% end %>
